
<section>
<div class="row" id="contact">
    
    <div class="container mt-5" >
        <hr>
        <div class="row" style="height:550px;">
            <div class="col-md-6 maps" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.6501650208584!2d-73.60718468468306!3d45.43655297910069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91105476528a3%3A0xe7586eb9e4767ce0!2sC%C3%A9gep%20Andr%C3%A9-Laurendeau!5e0!3m2!1sfr!2sca!4v1607461809060!5m2!1sfr!2sca" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2 class="font-italic mt-3 font-weight-bold text-warning">Contactez-nous</h2>
                <form action="">
                <div class="row">
                    <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" placeholder="Votre nom">
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="form-group">
                        <input type="date" class="form-control mt-2" placeholder="Date">
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="form-group">
                        <input type="email" class="form-control mt-2" placeholder="Votre e-mail">
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="form-group">
                        <input type="number" class="form-control mt-2" placeholder="Votre telephone">
                    </div>
                    </div>
                    <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Votre message" 
                        rows="3"></textarea>
                    </div>
                    </div>

                    <div class="col-12">
                    <button class="btn btn-light" type="submit">Envoyez</button>
                    </div>
                </div>
                </form>
                <div class="text-white">
                <h3 class="font-italic mt-4 font-weight-bold text-warning">Localisation</h3>

                <i class="fas fa-phone-alt mt-3"> (438)-111-8294</i> <br>
                <i class="fas fa-phone-alt mt-3"> (546)-986-8294</i> <br>
                <i class="fas fa-envelope-open-text mt-3"> taximem@info.com</i><br>
                <i class="fas fa-globe mt-3"> 1111 Rue Lapierre, LaSalle, QC H8N 2J4</i><br>
                <div class="my-4">
                <a href=""><i class="fab fa-facebook fa-3x pr-4"></i></a>
                <a href=""><i class="fab fa-youtube fa-3x pr-4"></i></a>
                <a href=""><i class="fab fa-twitter fa-3x pr-4"></i></a>
                <a href=""><i class="fab fa-discord fa-3x"></i></a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

