<div class="container" style="margin-top: 65px">
    <h2 class="font-weight-bold  font-italic text-center">Réservez dès maintenant !</h2>

      <form [formGroup]="vehiculeForm" (ngSubmit)="onSubmit()">

        <div *ngIf="validMessage != ''">
          <h3 class="has-info">{{validMessage}}</h3>
        </div>

        <div class="form-group">
          <label for="immatriculation" class="font-italic">Immatriculation</label>
          <input id="immatriculation" formControlName="immatriculation" class="form-control" />
        </div>

        <div class="form-group">
          <label for="numeroTaxi" class="font-italic">Numéro Taxi</label>
          <input id="numeroTaxi" formControlName="numeroTaxi" class="form-control" />
        </div>   

        <p class="font-italic">Nombre de personnes</p>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="nbPersonne" 
                   id="nbPersonne" value="1" checked/>
            <label class="form-check-label" for="1perso">
              1 personne
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="nbPersonne" 
                   id="nbPersonne" value="2">
            <label class="form-check-label" for="2perso">
              2 personnes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="nbPersonne" 
                    id="nbPersonne" value="3"> 
            <label class="form-check-label" for="3perso">
              3 personnes
            </label>
          </div>
        </div>
  
        <div class="form-group">
          <label for="classe" class="font-italic">Classe </label>
          <select class="form-control" id="classe" formControlName="classe">
            <option>Première classe</option>
            <option>Deuxième classe</option>
            <option>Economique</option>
          </select>
        </div>

        <div class="form-group">
          <label for="prix" class="font-italic">Prix</label>
          <input id="prix" formControlName="prix" class="form-control" />
        </div>  

        <div class="form-group">
          <label for="destination" class="font-italic">Destination</label>
          <textarea id="destination" formControlName="destination" class="form-control" 
                    rows="3"></textarea>
        </div>     
        
        <button class="btn btn-primary font-italic">Send</button>
      </form>
    </div>
  
  
  
    <!-- <h3>dirty: {{propertyTest.dirty }}</h3>
    <h3>pristine: {{propertyTest.pristine }}</h3>
    <h3>touched: {{propertyTest.touched }}</h3>
    <h3>untouched: {{propertyTest.untouched }}</h3>
    <h3>valid: {{propertyTest.valid }}</h3>
    <h3>invalid: {{propertyTest.invalid }}</h3> -->
  
    <!--h3>{{user | json}}</h3-->
  