<section>
    <div class="container  text-white" style="margin-top: 65px">
        <hr>
        <h2 class="font-weight-bold font-italic text-center text-warning" >Affichage de votre réservation !</h2>
    
          <form [formGroup]="affichageVehiculeForm" (ngSubmit)="afficherVehicule()">
    
    
            <div class="form-group">
              <label for="numeroTaxi" class="font-italic">Numéro Taxi</label>
              <input id="numeroTaxi" formControlName="numeroTaxi" class="form-control" [(ngModel)]="taxi.numeroTaxi" readonly />
            </div>   
    
            <p class="font-italic">Nombre de personnes</p>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="nbPersonne" 
                       id="nbPersonne" value="1"  [(ngModel)]="taxi.nbPersonne" onclick="this.checked = false;">
                <label class="form-check-label" for="1perso">
                  1 personne
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="nbPersonne" 
                       id="nbPersonne" value="2"  [(ngModel)]="taxi.nbPersonne" onclick="this.checked = false;">
                <label class="form-check-label" for="2perso">
                  2 personnes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="nbPersonne" 
                        id="nbPersonne" value="3"  [(ngModel)]="taxi.nbPersonne" onclick="this.checked = false;"> 
                <label class="form-check-label" for="3perso">
                  3 personnes
                </label>
              </div>
            </div>
      
            <div class="form-group">
              <label for="classe" class="font-italic">Classe </label>
              <select class="form-control" id="classe" formControlName="classe" [(ngModel)]="taxi.classe" disabled>
                <option>Première classe</option>
                <option>Deuxième classe</option>
                <option>Economique</option>
              </select>
            </div>
    
            <div class="form-group">
              <label for="prix" class="font-italic">Prix</label>
              <input id="prix" formControlName="prix" class="form-control"  [(ngModel)]="taxi.prix" readonly/>
            </div>  
    
            <div class="form-group">
              <label for="destination" class="font-italic">Destination</label>
              <textarea id="destination" formControlName="destination" class="form-control" 
                        rows="3"  [(ngModel)]="taxi.destination" readonly></textarea>
            </div>     
            
            <button class="btn btn-primary rounded font-italic">Retour</button>
          </form>
        </div>
      
        
    </section>
      
    