
<section class="bg-dark">
    <footer class="page-footer text-warning font-small pt-4">

    <div class="container">
  
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Créez un compte gratuit</h5>
        </li>
        <li>
          <a href="#" class="text-muted" >Inscrivez-vous !</a>
        </li>
    </ul>
    </div>
    <div class="text-center">
        <a href=""><i class="fab fa-facebook-f fa-lg text-primary mr-4"> </i></a>

        <a href=""><i class="fab fa-youtube fa-lg text-danger mr-4"> </i></a>

        <a href=""><i class="fab fa-twitter fa-lg text-info mr-4"> </i></a>
 
        <a href=""><i class="fab fa-google-plus-g fa-lg text-danger mr-4"> </i></a>
        
        <a href=""><i class="fab fa-whatsapp-square fa-lg text-success mr-4"></i></a>
        
        <a href=""><i class="fab fa-discord  fa-lg text-secondary mr-4"></i></a>

        <a href=""><i class="fab fa-pinterest fa-lg text-danger mr-4"> </i></a>

        <a href=""><i class="fab fa-github fa-lg text-light mr-4"></i></a>

</div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <p>Imem Belcadi Abbassi</p>
    </div>
  </footer>
</section>